{% extends 'base.html.twig' %}

{% block menu %}
    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
            <a class="p-2 text-muted" href="{{ path('web_main') }}">Active slot</a>
            <a class="p-2 text-muted active" href="#">Slot</a>
            <a class="p-2 text-muted" href="{{ path('web_news') }}">News</a>
            <a class="p-2 text-muted" href="{{ path('web_faq') }}">FAQ</a>
            <a class="p-2 text-muted" href="{{ path('web_contact_us') }}">Contact Us</a>
        </nav>
    </div>
{% endblock %}

{% block main %}

    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8 blog-main">
                <div>Катеогрия: {{ product.category }}</div>
                <div>Название: {{ product.name }}</div>
                <div>Продавець: {{ product.owner }}</div>
                <div>Начало торга: {{ product.startAt|date("d F Y") }}</div>
                <div>Окончание торга: {{ product.finishAt|date("d F Y") }}</div>
                <div>Описание: {{ product.about }}</div>
                <div style="background-color: #9fa9b7">
                    <div>Стартовая цена: {{ product.price }}</div>
                    <div>Количество ставок:
                        <span id="count-bids"> {{ product.bitHistories|length }}</span>
                    </div>
                    <span id="bid-list">
                    {% if product.lastBitHistory %}
                        {%  for bit in product.lastBitHistory %}
                            <div>Cтавка: [{{ bit.getBidTime()|date("d F Y") }}] {{ bit.getBidAmount() }} - {{ bit.getUser() }}</div>
                        {% endfor %}
                    {% endif %}
                    </span>

                </div>

                <form method="post" action="{{ path('take_bid_product', {"id":product.id}) }}" >
                    <label>Сделайте свою ставку:</label><br/>
                    <input id="amount" type="number" name="amount" placeholder="">
                    <button>Take</button>
                </form>

            </div>
        </div>
    </main>

{% endblock %}

{% block javascripts %}
<script>
    $(document).ready(function(){

        $("form").submit(function(){
            var action = $(this).attr('action');
            var amount = $("input[name=amount]").val();
            var http = new XMLHttpRequest();
            var params = 'amount=' + amount;
            http.open('POST', action, true);

            //Send the proper header information along with the request
            http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');

            http.onreadystatechange = function() {//Call a function when the state changes.
                if(http.readyState == 4 && http.status == 200) {
                    var response = JSON.parse(http.responseText);
                    $('#count-bids').html(response.count);

                    bidString = '';
                    for(var key in response.bids) {
                        var bid = response.bids[key];
                        var date = new Date(bid.datetime.date);

                        bidString = bidString + '<div>Cтавка: [' +date+'] '+bid.amount+'-'+bid.user_name+'</div>';
                    }

                    $('#bid-list').html(bidString);

                }
                if(http.readyState == 4 && http.status == 400) {
                    alert(http.responseText);
                }
            }
            http.send(params);

            return false;
        });
    });


</script>
{% endblock %}